<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingLogFileAppender" />
		<appender-ref ref="OidcLogs"/>
	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="rollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs\Logs\" />
		<datePattern value="yyyy.MM.dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="OpenIddict"/>
			<acceptOnMatch value="false"/>
		</filter>
	</appender>
	<appender name="OidcLogs" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs\OidcLogs\" />
		<datePattern value="yyyy.MM.dd'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="OpenIddict"/>			
		</filter>
		<filter type="log4net.Filter.DenyAllFilter"/>
	</appender>
</log4net>